<!-- backend/authenticator/templates/registration/reset-password.html -->
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | WebAssist</title>
    <link rel="icon" type="image/png" href="{% static 'img/webassist-logo.png' %}">
</head>
<body>
    <h2>Forgot your password?</h2>
    <form method="POST" action="{% url 'reset-password/' %}">
        {% csrf_token %}
        <div class="text-center">
            Enter the email address associated with your account 
            and we'll send you an email with instructions to reset your password.
        </div>
        <div class="input-group">
            <legend>Email Address</legend>
            {{form.username}}
        </div>
        <button type="submit" class="submit form-group">Reset Password</button>
    </form>
</body>
</html>